* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* height: 50vh; */
  justify-content: center;
  /* align-items: center; */
  /* background-color: red; */
  /* margin-top: 1000px; */
}
.container > div {
  flex: 1;
}
.mainHeader {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.subHeader {
  align-self: flex-end;
  margin-top: 80px;
  /* align-items: center; */
  justify-content: center;
  gap: 2rem;
  display: flex;
}
.subHeader > div {
  flex: 1;
}

.leftHeader {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.leftHeaderBtn {
  /* width: auto; */
  align-self: flex-start;
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 8px 24px;
  border-radius: 12px;
  border: #3882f6;
  font-weight: bold;
  font-size: 16px;
}
.rightHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 215px;
  /* flex: 1 */
  /* height: 100%/; */
  /* color: #e5e7eb; */
  background-color: #e5e7eb;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 12px;
  color: #e5e7eb;
}

.header {
  background-color: #1f2937;
  /* padding: 26px; */
  /* width: 80vw; */
  height: 45vh;

  justify-content: space-between;
  flex-direction: column;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
}

.leftHeaderTitle {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
.leftHeaderDesc {
  font-size: 18px;
  color: #e5e7eb;
}

.randomInfoSection {
  display: flex;
  height: 40vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 30vh; */
  padding: 0 95px;
}
.infoTitle {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.infoDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.infoImage {
  height: 100px;
  width: 100px;
  border: 1px solid blue;
  margin-bottom: 10px;
}

.infoSubtext {
  text-align: center;
  font-size: 18px;
  /* color: #e5e7eb; */
}
.infoContainer {
  display: flex;
  margin-top: 50px;
}

.quoteSection {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.quoteContainer {
  padding: 60px 100px;
  display: flex;
  flex-direction: column;
}
.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}
.quoteAuthor {
  align-self: flex-end;
}

.callToAction {
  color: #f9faf8;
  height: 40vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.callContent {
  background-color: #3882f6;
  width: 1100px;
  border-radius: 9px;
  margin: 0 auto;
  display: flex;
  /* flex-direction: colum; */
  height: 20vh;
  justify-content: center;
  align-items: center;
  padding: 60px 100px;
  /* background-color: red; */
  /* margin-top: 1000px; */
}

.signUpTitle {
  font-weight: 900;
  font-size: 18px;
}
.signUpContent {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* background: red; */
}
.signUpTest {
  font-size: 16px;
  font-weight: 500;
}
.signUpdiv {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  /* width: ; */
}
.signUpBtn {
  background-color: #3882f6;
  color: #f9faf8;
  align-self: flex-start;
  /* width: 100%; */
  border: 2px solid white;
  padding: 8px 24px;
  border-radius: 5px;
}
.footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
  padding: 30px 16px;
}
